.btn {
  border: 1px solid #087AFF;
  background: #087AFF;
  border-radius: 15px;
  padding: 13px 20px;
  box-sizing: border-box;
  cursor: pointer;

  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;

  &:disabled {
    cursor: not-allowed;
    background: #969696;
    border: #969696;
    opacity: 0.8;
  }
}
.btn-primary {
  border: 1px solid #087AFF;
  background: #087AFF;
}
