.mx-datepicker-main {
  background: linear-gradient(90.66deg, #161616 0.57%, #160C1B 25.09%, #081422 62.84%, #000000 99.49%)!important;
  border: none!important;
  border-radius: 15px;

  .form-item-input:disabled {
    color: transparent;
    opacity: 0.6;
  }
}
.mx-datepicker {
  .form-item-input:disabled {
    color: transparent;
    opacity: 0.6;
  }
}
.mx-btn {
  color: white!important;
}
.mx-icon-calendar {
  color: white!important;
}
