@import 'vue-multiselect/dist/vue-multiselect.min.css';

.multiselect {
  cursor: pointer;

  &.multiselect--active {
    .multiselect__tags {
      border-color: white!important;
    }
    .multiselect__select {
      transform: translateY(-50%) rotate(180deg);
      filter: invert(45%) sepia(26%) saturate(6345%) hue-rotate(353deg) brightness(98%) contrast(87%);
    }
  }
  &:hover {
    .multiselect__tags {
      border-color: white;
    }
  }
}
.multiselect__tags {
  min-width: 59px;
  padding: 15px 30px;
  background: #161616;
  border: 1px solid #343434;
  border-radius: 15px;
}
.multiselect__input, .multiselect__single, .multiselect__placeholder {
  margin: 0;
  padding: 0;
  background-color: transparent!important;

  font-family: 'Steppe';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
}
.multiselect__single {
  color: white;
}
.multiselect__content-wrapper {
  flex-direction: column;
  border-color: #ea5e20;
  border-radius: 0 0 10px 10px;
  //overflow: hidden;
}
.multiselect__content {
  overflow: auto;
}
.multiselect__option {
  padding: 8px 15px;
  box-sizing: border-box;
  border-top: 1px solid #DCDCDC;
  cursor: pointer;

  font-size: 14px;
  line-height: 24px;
  color: #373F50;

  &:hover {
    color: #EA5E20;
  }
  &:after {
    content: none!important;
  }
}
.multiselect__option--selected {
  font-weight: 400;
}
.multiselect__option--highlight {
  color: #EA5E20!important;
  background-color: transparent!important;
}
.multiselect__select {
  height: 24px;
  width: 24px;
  top: 50%; right: 10px;
  transform: translateY(-50%);
  filter: invert(59%) sepia(12%) saturate(12%) hue-rotate(331deg) brightness(96%) contrast(93%);
  z-index: 5;

  //background-image: url("~/assets/img/svg/catalog/filter-chevron-down.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:before {
    content: none!important;
  }
}
.multiselect__tag {
  background: #087AFF;
  border-radius: 4px;
  font-size: 12px;
  line-height: 100%;
}
